<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="display-4">{{ location.name }}</h2>
      <p><strong>Type:</strong> {{ location.type }}</p>
      <p><strong>Dimension:</strong> {{ location.dimension }}</p>
      <hr>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Location Image</h5>
          <img src="https://i.pinimg.com/736x/88/00/bb/8800bb0722a6141fcdcd3c3f34fe1002.jpg" class="card-img-top" alt="Location Image">
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-outline-primary mt-4" (click)="goBack()">
    <i class="bi bi-arrow-left-circle"></i> Back
  </button>
</div>
